asgiref==3.4.1
Babel==2.9.1
blinker==1.4
brotli==1.0.9
cdecimal==2.3
cffi==1.15.0
ConfigParser==5.1.0
cryptography==35.0.0
curio==1.5
cx_Oracle==8.3.0
Cython==0.29.24
defusedxml==0.7.1
dl==0.1.0
docutils==0.18
flask_babel==2.0.0
flask_babelex==0.9.4
gevent==21.8.0
HTMLParser==0.0.2
importlib_metadata==4.8.1
ipython==7.29.0
keyring==23.2.1
lockfile==0.12.2
lxml==4.6.4
monotonic==1.6
mx==3.2
numpy==1.21.4
olefile==0.46
ordereddict==1.1
pgdb==0.0.11
protobuf==3.19.1
pyOpenSSL==21.0.0
PyQt5==5.15.6
PyQt6==6.2.1
PySide2==5.15.2
PySide6==6.2.1
pysqlcipher3==1.0.4
pysqlite==2.8.3
pytest==6.2.5
pytest_xdist==2.4.0
python-dotenv==0.19.1
requests_toolbelt==0.9.1
simplejson==3.17.5
sniffio==1.2.0
sqlcipher3==0.4.5
Sybase==0.35
tornado==6.1
trio==0.19.0
typing_extensions==3.10.0.2
unicodedata2==13.0.0.post2
watchdog==2.1.6
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.6.0
